.cart-icon{
    color: #558a59 !important;
    cursor: pointer;
}

.total{
    color: #558a59;
}

.column{
    color: #558a59 !important;
}

.plus-minus{
    cursor: pointer;
    border: solid 1px #558a59;
    color: #558a59;
}