
.Chat {
  position: relative;
  border-radius: 1rem;
  background: white;
}
.Chat .reload {
  display: none;
}
.Chat.ended .reload {
  transition: background-color .3s ease, border-color .3s ease;
  background-color: #EAECEE;
  cursor: pointer;
  display: flex;
  color: #808B96;
  opacity: 0;
  -webkit-animation-name: fakeLoading;
          animation-name: fakeLoading;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.Chat.ended .reload:hover {
  background-color: #D5D8DC;
  border-color: #D5D8DC;
}
.Chat.inputError input {
  -webkit-animation-name: shakeAnim;
          animation-name: shakeAnim;
  -webkit-animation-duration: .7s;
          animation-duration: .7s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
.Chat:after {
  background: white;
  -webkit-filter: blur(0);
          filter: blur(0);
  z-index: -1;
  position: absolute;
  display: block;
  content: '';
  height: 90%;
  width: 90%;
  top: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: background .5s ease, -webkit-filter .5s ease;
  transition: background .5s ease, filter .5s ease;
  transition: background .5s ease, filter .5s ease, -webkit-filter .5s ease;
}
.Chat.visible {
  height: 60vh;
  width: 280px;
}
.Chat.visible:before {
  opacity: 0;
}
.Chat.visible input {
  display: block;
}
.Chat.visible .ChatMsg {
  display: block;
}
.Chat.loading {
  height: 200px;
  width: 200px;
}
.Chat.loading:before {
  opacity: 1;
  display: block;
  position: absolute;
  content: 'Loading';
  top: 50%;
  left: 70%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #EAECEE;
}
.Chat.loading input {
  display: none;
}
.Chat.loading .ChatMsg, .Chat.loading .UserOption {
  display: none;
}

@-webkit-keyframes shakeAnim {
  0% {
    left: 50%;
  }
  12% {
    left: 52%;
  }
  24% {
    left: 48%;
  }
  36% {
    left: 52%;
  }
  48% {
    left: 48%;
  }
  60% {
    left: 52%;
  }
  72% {
    left: 48%;
  }
  84% {
    left: 52%;
  }
  100% {
    left: 50%;
  }
}

@keyframes shakeAnim {
  0% {
    left: 50%;
  }
  12% {
    left: 52%;
  }
  24% {
    left: 48%;
  }
  36% {
    left: 52%;
  }
  48% {
    left: 48%;
  }
  60% {
    left: 52%;
  }
  72% {
    left: 48%;
  }
  84% {
    left: 52%;
  }
  100% {
    left: 50%;
  }
}
@-webkit-keyframes fakeLoading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fakeLoading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes backgroundAnim {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}
@keyframes backgroundAnim {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}
@-webkit-keyframes showAnim {
  0% {
    opacity: 0;
    bottom: -1rem;
  }
  5% {
    opacity: 1;
    bottom: .6rem;
  }
  95% {
    opacity: 1;
    bottom: .6rem;
  }
  100% {
    opacity: 0;
    bottom: -1rem;
  }
}
@keyframes showAnim {
  0% {
    opacity: 0;
    bottom: -1rem;
  }
  5% {
    opacity: 1;
    bottom: .6rem;
  }
  95% {
    opacity: 1;
    bottom: .6rem;
  }
  100% {
    opacity: 0;
    bottom: -1rem;
  }
}
.p-chat {
  color: white;
  margin: 0;
}

.ChatMsg {
  margin-bottom: 1rem;
  border-radius: 2rem;
  padding: 1rem;
  -webkit-animation-name: fakeLoading;
          animation-name: fakeLoading;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}
.ChatMsg.user {
  float: right;
  clear: both;
  background: #558a59;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}
.ChatMsg.bot {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  float: left;
  clear: both;
  background: #FAD865;
}

.UserOption {
  opacity: 0;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-name: fakeLoading;
          animation-name: fakeLoading;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  cursor: pointer;
  margin: 0 .5rem .5rem 0;
  padding: .5rem;
  float: right;
  clear: left;
  border-radius: 2rem;
  border: 2px solid #558a59;
  display: inline-block;
  transition: background .3s ease;
}
.UserOption.updated {
  display: none;
}
.UserOption p {
  color: #558a59;
  transition: color .3s ease;
}
.UserOption:hover {
  background: #558a59;
}
.UserOption:hover p {
  color: white;
}

input, .reload {
  padding: .1rem 1rem;
  outline: none;
  border: 2px solid #EAECEE;
  border-radius: 2rem;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2rem;
  width: 80%;
}

.reload {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  transition: opacity .3s ease;
  opacity: 0;
  font-size: .75rem;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  width: 100%;
  text-align: center;
  color: rgb(250, 101, 108);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.errorMessage .error-message {
  -webkit-animation-name: showAnim;
          animation-name: showAnim;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media (max-width: 376px){
  body {
    padding-top: 0;
  }

  .Chat {
    height: 60vh !important;
    width: 300px !important;
  }
  .Chat.visible {
    height: 60vh;
    width: 340px !important;
  }
  .Chat.loading:before{
      left:58%;
  }
}
