.logo{
    max-height: 40px;
}

.item-box{
    background-color: #558a59 !important;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #888888;
}

.chat-btn{
    background-color: #fcd34e;
    color: #558a59;
    position: fixed;
    bottom: 0;
    width: 200px;
    @media (max-width: 376px){
        width: 375px;
    }
    @media (max-width: 769px){
        right: 0;
    }
}

.chat{
    overflow: hidden;
    float: right;
    padding-right: 80px;
    
    @media (max-width: 376px){
        padding-right: 360px;
    }
}

.modal-content{
    position: fixed !important;
    width: 300px !important;
    right: 0 !important;
    bottom: 0 !important;
    margin-bottom: 37px;

    @media (max-width: 376px){
        width: 375px !important;
    }
}

.navbar{
    background-color: #558a59 !important;
}

.nav-link{
    color: #ffffff;
    padding-left: 25px !important;
    &:hover{
        color: #fcd34e;
    }
}

.cart-button{
    background: transparent !important;
    border: none !important;
    color: #ffffff !important;
    &:hover{
        color: #fcd34e !important;
    }
}

p{
    color: #ffffff;
}

h5{
    color: #ffffff;
}

h1{
    color: #558a59;
}

.back-to-products{
    background-color: #558a59;
    color: #ffffff !important;
    border-radius: 3px !important;
    margin-right: 20px;
    &:hover{
        color: #fcd34e !important;
    }
}

.to-cart{
    background-color: transparent;
    border: solid 1px #558a59;
    border-radius: 3px !important;
    color: #558a59 !important;
    &:hover{
        color: #fcd34e !important;
        border: solid 1px #fcd34e;
    }
}

.desc{
    color: #272727;
}

.fa-times{
    color: #558a59 !important; 
}

.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.checkout-container{
    padding-top: 3% !important;
}

.buy-btn{
    background-color: #558a59 !important;
    border: none !important;
}

.success-icon{
    position: relative;
    padding-left: 43%;
    padding-top: 10%;
    color: #558a59;
    @media (max-width:376px){
        padding-left: 28%;
        padding-top: 30%;
    }
    @media (min-width:766px) {
        padding-left: 40%;
        padding-top: 30%;
    }
    @media (min-width:1024px){
        padding-left: 43%;
        padding-top: 10%;
    }
}

.thank-text{
    color: #558a59;
    @media (max-width:376px){
        padding-top: 5%;
        padding-left: 13%;
        font-size: 25px !important;
    }
    @media (min-width:766px) {
        padding-left: 26%;
        padding-top: 5%;
        font-size: 35px;
    }
    @media (min-width:1024px){
        padding-left: 35%;
        padding-top: 3%;
    }
}

.text-p{
    color: #558a59;
}

